<ul>
    <li> <%= link_to 'Your Listings', rooms_path, class: "list-style" %> </li>
    <li> <%= link_to 'Your Reservations', your_reservations_path, class: "list-style" %> </li>
    <li> <%= link_to 'Your Trips', your_trips_path, class: "list-style" %> </li>
</ul>