<ul>
    <li> <%= link_to 'Your Listings', "#", class: "list-style" %> </li>
    <li> <%= link_to 'Your Reservations', "#", class: "list-style" %> </li>
    <li> <%= link_to 'Your Trips', "#", class: "list-style" %> </li>
</ul>