/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';
 @import 'toastr';

 .avatar-small {
     width: 28px;
     margin-right: 3%;
 }

 .avatar-show {
    width: 100%;
 }

 .login {
     width: 100%;
     color: white;
 }
 
 .forget {
    float: right;
 }

 .card-header.preview {
     padding: 0;

     img {
         width: 100%;
     }
 }

 .listing-form-group select {
     width: 90%;
     height: 40px;
 }

 .save-room {
     width: 15%;
     height: 45px;
 }

 ul li {
     list-style: none;
 }

 .list-style {
    color: black;
    text-decoration: none !important ;
 }